html,
body {
  height: 100%;
  margin: 0;
}

body {
  color: white;
  font-family: "Major Mono Display", monospace;
  font-size: 3vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  display: block;
}

html {
  --amountRows: 4;
  --percentageRows: 25%;
  --amountColumns: 4;
  --percentageColumns: 25%;
  background: #353333;
}

h1 {
  font-size: 10vmin;
}

.button,
button {
  font-family: "Major Mono Display", monospace;
  font-size: 2vmin;
  padding: 1.1vmin 4vmin 1.5vmin;
  background: rgba(255, 255, 255, 0);
  border: solid white 0.2vmin;
  color: white;
  border-radius: 0.5vmin;
  cursor: pointer;
  transition: background 0.3s ease-out;
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.25);
  }
}
